.d-body {
    height: calc(100vh - 66px);
}

/*label {
    font-family: 'Harmonia Sans Std';
    font-weight: 600;
    font-size: 16px;
    color: #1D2B36;
}*/

input.form-control, select.form-control {
    height: 42px !important;
    border-color: #CFD8E3 !important;
}

textarea.form-control {
    min-height: 100px !important;
    border-color: #CFD8E3 !important;
}

input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
    box-shadow: none;
    border-color: #054EFC !important;
}

input::placeholder {
    color: #AAB2C0 !important;
    font-size: 15px;
}
select{
    color: #495057;
}



/* Backgrond dark */

.bg-red{
    background-color: #F13434;
}

.bg-yellow{
    background-color: #FFB141;
}

.bg-green{
    background-color: #4CC50A;
}

.bg-purple{
    background-color: #7D0CD1;
}

.bg-blue {
    background-color: #054EFC;
}

.bg-orange{
    background-color: #DD6B20;
}

.bg-gray{
    background-color: #4A5568;
}

.bg-pink{
    background-color: #B83280;
}


/* background  light*/
.bg-light-blue{
    background-color: #BEE3F8;
}

.bg-light-gray {
    background-color: #EDF2F7;
}

.bg-light-red {
    background-color: #FFF0F3;
}

.bg-light-green {
    background-color: #D6FBE9;
}

.bg-light-yellow {
    background-color: #FEEBC8;
}

.bg-light-teal{
    background-color: #ADF1E7;
}

.bg-light-purple{
    background-color: #E9D8FD;
}

.bg-light-orange{
    background-color: #FEEBC8;
}

.bg-light-pink{
    background-color: #FED7E2;
}


/* Background 10 % */

.bg-red-10{
    background-color: #FFF2F2;
}

.bg-blue-10{
    background-color: #ECF4FF;
}

.bg-purple-10{
    background-color: #F7EEFF;
}

.bg-yellow-10{
    background-color: #FFF9EE;
}





/* text color */

.text-blue-heading {
    color: #054EFC;
}

.text-gray{
    color: #718096;
}

.text-red {
    color: #EF1616;
}

.text-green {
    color: #0EB362;
}

.text-yellow {
    color: #DD6B20;
}

.text-blue {
    color: #4C51BF;
}

.text-teal{
    color: #107062;
}

.text-purple{
    color: #6236FF;
}

.text-sky-blue{
    color: #0BA4F1;
}

.text-orange{
    color: #FE8A56;
}

.text-pink{
    color: #FC5281;
}



/* border */

.border-light-gray {
    border: 1px solid #E9E9EB;
}

.border-light-red{
    border: 1px solid #FDE1E1;
}
.border-light-blue{
    border: 1px solid #D9E7FF;
}

.border-light-purple{
    border: 1px solid #F0DCFF;
}

.border-light-yellow{
    border: 1px solid #F9E9CB;
}

.border-light-gray{
    border: 1px solid #A0AEC0;
}

.border-light-orange{
    border: 1px solid #FBD38D;
}

/* button */

.btn-blue {
    background-color: #054EFC;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700 !important;
    text-align: center;
    color: #ffffff;
    position: relative;
    height: 36px;
    padding: 0 15px;
    border: none;
    border-radius: 4px;
    line-height: 36px;
    /* width: 100px; */
}
.fixed-btn {
    width: 100px;
}
.btn-blue:hover {
    background: #0648dc;
    color: #fff;
}

.btn-blue img {
    vertical-align: middle;
    margin-left: 1px;
    margin-bottom: 1px;
}

.btn-label {
    font-size: 10px;
    font-weight: 600;
    padding: 0 5px;
    height: 26px;
    line-height: 26px;
}

/* shadow */

.custom-shadow{
    box-shadow: 15px 7px 32px 0 rgba(0, 0, 0, 0.1);
}